.HomeGrid {
    -fx-background-color: #454545;
}

.movieDisplay{
    -fx-background-color: #181717;
}

.background-yellow {
    -fx-background-color: #f5c518;
}

.background-black {
    -fx-background-color: #181717;
}

.background-light-black {
    -fx-background-color: #454545;
}

.title-text-color {
    -fx-text-fill: #c9a71b;
}
.text-color {
    -fx-text-fill: #454545;
}

.description-text-color {
    -fx-text-fill: #ffffff;
}

.list-view .list-cell:even {
    -fx-background-color: #181717;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: #181717;
    -fx-text-fill: white;
}

.movie-cell {
    -fx-background-color: #181717;
    -fx-padding: 2;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
}
.scroll-pane > .viewport {
    -fx-background-color: #454545;
}
.cell-border{
    -fx-border-color: #181717;
    -fx-border-width: 3;
    -fx-border-insets: -3;
    -fx-border-radius: 10;
    -fx-background-color: #454545;
}
#sortingChoice{
    -fx-font-weight: bold;
}
#genresChoice{
    -fx-font-weight: bold;
}